@CHARSET "UTF-8";

/* Main Container */
div#pfw_panel {
    width:250px;
    height:100%;
    margin:0px;
    position:fixed;
    top:0px;
    right:-265px;
    bottom:0px;
    background:#FFF;
    padding:5px;

    /*Shadow*/
    -moz-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, .5); /* Firefox F3.5+ */
    -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.5); ; /* Safari3.0+, Chrome */
     box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.5); /* Opera 10.5, IE 9.0 */
     filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=-5px, OffY=0px, Color='#000000'); /* IE6, IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=-5px, OffY=0px, Color='#000000')"; /* IE8 */

}

/* Toggle Anchor */
div#pfw_panel a.toggle {
    position:relative;
    display:block;
    height:100px;
    width:20px;
    background:#000;
    top:50%;
    left:-25px;
    margin-top:-25%;
    outline:none;
}

/* Plugin Stripe */
div#pfw_panel div#plugins_stripe {
    display:block;
    position:absolute;
    top:0px;
    bottom:275px; /* space to host 250x250 ad + swiper */
    width:100%;
    overflow:hidden;
}

/* Widget Panels */
div#pfw_panel div#plugins_stripe div.panel {
    position:absolute;
    top:0px;
    width:100%;
}

/* Swiper Area */
div#pfw_panel div#swiper {
    display:block;
    position:absolute;
    bottom:250px;
    height:25px;
}

/* Swiper Buttons */
div#pfw_panel div#swiper a.swiper_btn {
    margin:5px;
    width:15px;
    height:15px;
    display:inline-block;
    background:#000;
    color:#FFF;
    text-align:center;
    font-size:12px;
    text-decoration:none;
}

/* Ad */
div#pfw_panel div#ad_placeholder {
    position:absolute;
    bottom:0px;
    left:0px;
    height:250px;
    width:250px;
    background:#333;
    margin:0 0 0 5px;
}